<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

  <meta charset="UTF-8">
  <meta charset="ISO-8859-1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/profile1.css"  th:href="@{/css/profile1.css}">

  <title>Students List</title>
</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AITU Dormitory</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a th:href="@{'/admin/adminMain'}">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Main page</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/admin/students/0'}">
        <i class='bx bxs-shopping-bag-alt' ></i>
        <span class="text">Students</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/file/admin/news/0'}">
        <i class='bx bxs-doughnut-chart' ></i>
        <span class="text">News</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/admin/items/0'}">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Requests</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/admin/form/0'}">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Absence requests</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/admin/register'}">
        <i class='bx bxs-group' ></i>
        <span class="text">Add student</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/file/admin/files/new'}">
        <i class='bx bxs-group' ></i>
        <span class="text">Add news</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li class="active">
      <a th:href="@{'/admin/profile'}">
        <i class='bx bxs-cog' ></i>
        <span class="text">Profile</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/logout'}" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <a th:href="@{'/admin/profile'}" class="profile" style="margin-left: 970px; text-decoration: none; margin-top: 6px; color: var(--blue)">
      <div style="display: flex; flex-direction: row; align-content: space-between">
        <p th:text="${information.email}" style="margin-top: 5px"></p>
        <img style="margin-left: 20px" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png">
      </div>
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="container rounded bg-white mt-2 mb-5"  >
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png">
            <span class="font-weight-bold" style="margin-top: 10px"><h5 th:text="${users.firstname}"></h5><h5 th:text="${users.lastname}"></h5></span>
            <span class="text-black-50" style="margin-top: 10px" th:text="${users.email}"></span><span> </span></div>

        </div>
        <div class="col-md-9 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
            </div>
            <div class="row mt-3" >

              <div class="card-body" >
                <form method="post" action="#"   th:action="@{/admin/update}" th:object="${userReq}">
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="hidden" name="id" th:value="${idd}" />
                      <input type="text" class="form-control" th:value="${users.firstname}" th:name="firstname" th:id="firstname" th:errorclass="fieldError"/>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" th:value="${users.lastname}" th:name="lastname" th:id="lastname" th:errorclass="fieldError"  />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" th:value="${users.email}" th:name="email" th:id="email" th:errorclass="fieldError"/>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Dormitory</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control"  th:value="${users.dormitory}" th:name="dormitory" th:id="dormitory" th:errorclass="fieldError"/>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Apartment</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control"  th:value="${users.apartment}" th:name="apartment" th:id="apartment" th:errorclass="fieldError"/>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Room</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control"  th:value="${users.room}" th:name="room" th:id="room" th:errorclass="fieldError"/>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Id Card Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control"  th:value="${users.idCard}" th:name="idCard" th:id="idCard" th:errorclass="fieldError"/>
                    </div>
                  </div>
                  <div class="mt-5 text-center"><input type="submit" class="btn profile-button" style =" background-color: #192f59; color: white"  value="Edit"></div>
                </form>
              </div>
            </div>
            <br>
          </div>
        </div>

      </div>
    </div>
    </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->



</body>
</html>
