<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">
    <meta charset="ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/newsForm.css" th:href="@{/css/newsForm.css}">
    <link rel="stylesheet" href="../static/css/res.css"  th:href="@{/css/res.css}">


</head>
<body>

<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">AITU Dormitory</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a th:href="@{'/admin/adminMain'}">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Main page</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/admin/students/0'}">
                <i class='bx bxs-shopping-bag-alt' ></i>
                <span class="text">Students</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/admin/news/0'}">
                <i class='bx bxs-doughnut-chart' ></i>
                <span class="text">News</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/admin/items/0'}">
                <i class='bx bxs-message-dots' ></i>
                <span class="text">Requests</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/admin/form/0'}">
                <i class='bx bxs-message-dots' ></i>
                <span class="text">Absence requests</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/admin/register'}">
                <i class='bx bxs-group' ></i>
                <span class="text">Add student</span>
            </a>
        </li>
        <li class="active">
            <a th:href="@{'/admin/saveNews'}">
                <i class='bx bxs-group' ></i>
                <span class="text">Add news</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a th:href="@{'/admin/profile'}">
                <i class='bx bxs-cog' ></i>
                <span class="text">Profile</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/logout'}" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <a th:href="@{'/admin/profile'}" class="profile" style="margin-left: 1000px; text-decoration: none; margin-top: 4px; color: var(--blue)">
            <div style="display: flex; flex-direction: row; align-content: space-between">
                <p th:text="${information.email}" style="margin-top: 5px"></p>
                <img style="margin-left: 20px" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png">
            </div>
        </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
<div class="login-root" style="margin-top: -30px">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">

        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">Add new information for students</span>
                        <form id="stripe-login" method="POST" action="#" th:action="@{/admin/saveNewsPost}" th:object="${newsRequest}" enctype="multipart/form-data">
                            <div class="field padding-bottom--24">
                                <label >Name of the news</label>
                                <input type="text" name="name" th:field="*{name}">
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label >Description</label>
                                </div>
                                <textarea type="textarea" name="description" th:field="*{description}"></textarea>
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label >Date</label>
                                </div>
                                <input type="date" name="date" th:field="*{date}" >
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="imageProduct">Upload document</label>
                                </div>
                                <input id="imageProduct" name="imageProduct" class="input-file" type="file">
                            </div>
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="Add">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->


<script src="script.js"></script>
</body>
</html>