
<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

  <meta charset="UTF-8">
  <meta charset="ISO-8859-1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/itemsForm.css"  th:href="@{/css/itemsForm.css}">
  <link rel="stylesheet" href="../static/css/res.css"  th:href="@{/css/res.css}">

  <title>Requests</title>
</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar" style="background-color: #1a1f36">
  <a href="#" class="brand" style="background-color: #1a1f36; text-decoration: none;">
    <i class='bx bxs-smile'></i>
    <span class="text" >AITU Dormitory</span>
  </a>
  <ul class="side-menu top" >
    <li>
      <a th:href="@{'/user/allnews/0'}" style="background-color: #1a1f36; color: white; text-decoration: none;">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Main page</span>
      </a>
    </li>
    <li>
      <a th:href="@{'/user/createItem'}"  style="background-color: #1a1f36; color: white; text-decoration: none;">
        <i class='bx bxs-doughnut-chart' ></i>
        <span class="text">Special form</span>
      </a>
    </li>
    <li class="active">
      <a th:href="@{'/user/createForm'}" style="background-color: #1a1f36; color: white; text-decoration: none;">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Absence form</span>
      </a>
    </li>
    <li>
      <a href="#" style="background-color: #1a1f36; color: white; text-decoration: none;">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Example of applications</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a th:href="@{'/user/profile'}" style="background-color: #1a1f36 ; color: white; text-decoration: none;">
        <i class='bx bxs-shopping-bag-alt' ></i>
        <span class="text">Profile</span>
      </a>
    </li>
    <li>
      <a th:href="@{'logout'}" class="logout" style="background-color: #1a1f36;  text-decoration: none;">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <nav style="background-color: #1a1f36">

    <a th:href="@{'/user/profile'}" class="profile" style="margin-left: 1030px; text-decoration: none; margin-top: 4px; color: white">
      <div style="display: flex; flex-direction: row; align-content: space-between">
        <p th:text="${information.email}" style="margin-top: 5px"></p>
        <img style="margin-left: 20px" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png">
      </div>
    </a>
  </nav>

  <!-- MAIN -->
  <main>

    <div style="display: flex; flex-direction: row;">
      <section >
        <div class="alert alert-success" role="alert"
             th:if="${message}" style="text-align: center">
          <span th:text="${message}"></span>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                  type="button"></button>
        </div>
        <div class="register container-fluid d-flex justify-content-start">

          <div class="col-3">
          </div>

          <form  method="POST" action="#" th:action="@{/user/createFormPost}" th:object="${formRequest}"  class="col-6 row p-3 ml-4 mt-2 mb-5" style="background-color: #7598B6; color: white; border-radius: 10px; border-style: groove; box-shadow: 7px 8px #294468">

            <div class="col-lg-12 text-center p-2" style="border-bottom: 2px solid white;">
              <h2>Form to fill out in the absence at night in the dormitory</h2>
            </div>
            <div class="col-lg-12 column p-2">
              <label  class="col-lg-12 text-lg-left">Please write your name and surname</label>
              <input class="form-control col-lg-12" type="text" placeholder="First and Second name" th:field="*{name}">
            </div>

            <div class="col-lg-12 column p-2">
              <label  class="col-lg-12 text-lg-left">Please write your phone </label>
              <input class="form-control col-lg-12" type="text" placeholder="Phone" th:field="*{phone}">
            </div>

            <div class="col-lg-12 column p-2">
              <label  class="col-lg-12 text-lg-left">Please choose the date </label>
              <input class="form-control col-lg-12" type="date" placeholder="Date" th:field="*{date}">
            </div>

            <div class="col-lg-12 column p-2">
              <label  class="col-lg-12 text-lg-left">Please write the reason </label>
              <textarea class="form-control col-lg-12" type="text" placeholder="Reason" th:field="*{reason}"></textarea>
            </div>

            <div class="col-lg-12 column p-2">
              <label  class="col-lg-12 text-lg-left">Please write the address where you will be </label>
              <input class="form-control col-lg-12" type="text" placeholder="Address" th:field="*{address}">
            </div>

            <div class="col-lg-12 p-2">
              <button class="form-control" type="submit" style="background-color: #1a1f36; color:white ; border:none;">Submit</button>
            </div>

          </form>

        </div>
      </section>
    </div>





  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->


<script src="script.js"></script>

</body>
</html>
