@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    background-color:white;
}

h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
}

h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: center;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    display: table;
}

.container td, .container th {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 0.5%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #D7E4FF;
    color: #0E1119;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #D7E4FF;
    color: #0E1119;
}

.container th {
    background-color: #E6E6E6;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;}

.container td:first-child { color: #FB667A; }

.info:nth-child(odd):hover {
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: #192f59 -1px 1px, #192f59 2px 2px, #192f59 -3px 3px, #192f59 -4px 4px, #192f59 -5px 5px, #192f59 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}


.info:nth-child(even):hover {
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: #192f59 -1px 1px, #192f59 2px 2px, #192f59 -3px 3px, #192f59 -4px 4px, #192f59 -5px 5px, #192f59 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}

.container td:hover {
    font-weight: bold;

}
a:hover{
    color: black;
}

@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
}