
/* Global styles */
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}



.featured-news {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.featured-news-image img {
    width: 100%;
    height: 467px;
    object-fit: cover;
}


.pmain{
    font-weight: bold;
    font-size: 28px;
}

.pdate {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
    width: 620px;
}

.description{
    margin-top: 40px;
}
.featured-news-details button {
    background-color: #1a1f36;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
    margin-top: 15px;
    margin-left: 1200px;
}



.featured-news-details button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
